email-automation/1 Send Email.json
{
  "name": "1 Send Email",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        -48
      ],
      "id": "1c4e9ed8-8921-49a9-bf33-7c5733484af3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1de7YjyQwdN2O0IYeQwDHeidXzhXYD02-gJjdZ6qH0UI",
          "mode": "list",
          "cachedResultName": "Customer Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1de7YjyQwdN2O0IYeQwDHeidXzhXYD02-gJjdZ6qH0UI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Customers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1de7YjyQwdN2O0IYeQwDHeidXzhXYD02-gJjdZ6qH0UI/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Is Send",
              "lookupValue": "No"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        32,
        -48
      ],
      "id": "5cc66b1d-6663-4038-aa32-68deb8408fdf",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GyjJ1EnGI1C5Jkol",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        240,
        -48
      ],
      "id": "4680b962-85f2-4e88-806d-240e8db90f02",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Hello Email",
        "emailType": "text",
        "message": "=Hello {{ $json['Full Name'] }},\n{{ $json.Message }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        528,
        -32
      ],
      "id": "5c0eb742-dc64-4cc5-9e82-ec5ee0523ddd",
      "name": "Send a message",
      "webhookId": "772a699b-c03a-408a-aed5-3e752f70dbce",
      "credentials": {
        "gmailOAuth2": {
          "id": "Ey46d8jrgwpbk8au",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1de7YjyQwdN2O0IYeQwDHeidXzhXYD02-gJjdZ6qH0UI",
          "mode": "list",
          "cachedResultName": "Customer Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1de7YjyQwdN2O0IYeQwDHeidXzhXYD02-gJjdZ6qH0UI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Customers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1de7YjyQwdN2O0IYeQwDHeidXzhXYD02-gJjdZ6qH0UI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Is Send": "Yes",
            "Full Name": "={{ $('Get row(s) in sheet').item.json['Full Name'] }}"
          },
          "matchingColumns": [
            "Full Name"
          ],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Is Send",
              "displayName": "Is Send",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        -32
      ],
      "id": "6299b882-2b1b-445e-9a8e-27551275c021",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GyjJ1EnGI1C5Jkol",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "13564c1d-4fda-4a37-a688-7096ebbb1f30",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48165ca0bfa61ac542b7e50ef86a7b6e10ba5696057b6c058e065467a33f8e66"
  },
  "id": "KTgvwIaaQ9i5fM-ShDcct",
  "tags": []
}