Invoice Processing/6 Invoice Processing.json
{
  "name": "6 Invoice Processing",
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        512,
        80
      ],
      "id": "218e41ee-7ae3-4c66-8e3a-9eddf10fa3c0",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        272,
        160
      ],
      "id": "718c94f0-19b4-41ca-bf3f-c17b5a04d95d",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "87raEt2MqzTrXFoC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "company name",
              "description": "the name of company",
              "required": true
            },
            {
              "name": "invoice number",
              "description": "the number of invoice",
              "required": true
            },
            {
              "name": "total amount",
              "type": "number",
              "description": "the invoice total amount",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        752,
        48
      ],
      "id": "7c24a83e-f5ee-4cd1-8e9c-bd07cff5d599",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        704,
        192
      ],
      "id": "d96f2eeb-5f3a-4ba5-adf5-49ced9d6e584",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1Ik73snorAFqnZIW",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dkPgvYrjoqvfS3v79e79HGhfdNvisTNqah1ijU8vbzQ",
          "mode": "list",
          "cachedResultName": "6 Invoices processing data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dkPgvYrjoqvfS3v79e79HGhfdNvisTNqah1ijU8vbzQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dkPgvYrjoqvfS3v79e79HGhfdNvisTNqah1ijU8vbzQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company name": "={{ $json.output['company name'] }}",
            "Invoice number": "={{ $json.output['invoice number'] }}",
            "Total amount": "={{ $json.output['total amount'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company name",
              "displayName": "Company name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice number",
              "displayName": "Invoice number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total amount",
              "displayName": "Total amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1104,
        96
      ],
      "id": "6e98fb20-d4c8-47c7-acd0-14082cc67078",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GyjJ1EnGI1C5Jkol",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1312,
        368
      ],
      "id": "663bd025-8a7f-45a6-a43e-581de8eb6341",
      "name": "Delete a file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "87raEt2MqzTrXFoC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1SGtXWWgiWfhFvdMUpdy1LJttSzmk28zN",
            "mode": "list",
            "cachedResultName": "Invoices",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1SGtXWWgiWfhFvdMUpdy1LJttSzmk28zN"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -256,
        -32
      ],
      "id": "38922312-f2a1-4201-8845-23cf5d1bdf61",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "87raEt2MqzTrXFoC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -48,
        144
      ],
      "id": "d3b3feca-dd33-4d04-917c-9bbeb96f0c6d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        -32
      ],
      "id": "d13b30b2-559b-4625-bfee-210f05de2ef1",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b7e921dd-db29-49e0-8cb2-11d7cb6d2340",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48165ca0bfa61ac542b7e50ef86a7b6e10ba5696057b6c058e065467a33f8e66"
  },
  "id": "9h4sVbq3setbSDGu4uZDO",
  "tags": []
}