Electronic-Certificate/2 Electronic certificate.json
{
  "name": "2 Electronic certificate",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        0
      ],
      "id": "44e46a3a-bb9f-4ee5-9451-ab2b01b3a6f0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1x1sa5EKipKys4sFi8mHVl5QdxR4ts6EN91SzpVKack8",
          "mode": "list",
          "cachedResultName": "2 Certificate",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x1sa5EKipKys4sFi8mHVl5QdxR4ts6EN91SzpVKack8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x1sa5EKipKys4sFi8mHVl5QdxR4ts6EN91SzpVKack8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Sent",
              "lookupValue": "No"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -32,
        0
      ],
      "id": "ebc72474-c492-4155-9e17-6ba3ef572843",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GyjJ1EnGI1C5Jkol",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        176,
        0
      ],
      "id": "e7bb1f07-639f-4034-9cce-8ef7c944841d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1LNEpvuGVBsGunMNeBFcw0SJL7TuG6yD_KERN_VjaUdA",
          "mode": "list",
          "cachedResultName": "2 Certificate Template",
          "cachedResultUrl": "https://docs.google.com/presentation/d/1LNEpvuGVBsGunMNeBFcw0SJL7TuG6yD_KERN_VjaUdA/edit?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        384,
        96
      ],
      "id": "fe5f6211-f614-4355-a009-33e77f2bdb02",
      "name": "Copy file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "87raEt2MqzTrXFoC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "replaceText",
        "presentationId": "={{ $json.id }}",
        "textUi": {
          "textValues": [
            {
              "pageObjectIds": [
                "p"
              ],
              "text": "[NAME]",
              "replaceText": "={{ $('Loop Over Items').item.json.Name }}"
            },
            {
              "text": "[DATE]",
              "replaceText": "={{ $('Loop Over Items').item.json.Date }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSlides",
      "typeVersion": 2,
      "position": [
        592,
        96
      ],
      "id": "577e3255-54e7-4810-92ce-eaf3b34f5692",
      "name": "Replace text in a presentation",
      "credentials": {
        "googleSlidesOAuth2Api": {
          "id": "lofw8JFI8MCdRlHO",
          "name": "Google Slides account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.presentationId }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "slidesToFormat": "application/pdf"
            }
          },
          "fileName": "={{ $('Loop Over Items').item.json.Name }} Certificate.pdf"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        800,
        96
      ],
      "id": "ba39b0a5-744c-4c35-850e-9a3285fdfcd8",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "87raEt2MqzTrXFoC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/0/folders/14Sd-5xwuUiwPKlCzVB3jmHFAQBxcEz_d",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1056,
        208
      ],
      "id": "f4282d95-ba5e-429d-8b2f-a78d12d272dc",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "87raEt2MqzTrXFoC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Loop Over Items').item.json.Email }}",
        "subject": "شهادة",
        "message": "شهادة شكر",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1008,
        -96
      ],
      "id": "f3b06ad9-7803-4b49-a3b4-02f12effb62f",
      "name": "Send a message",
      "webhookId": "30d796da-0949-4bae-95f3-50d981f6e37a",
      "credentials": {
        "gmailOAuth2": {
          "id": "Ey46d8jrgwpbk8au",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Copy file').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1264,
        208
      ],
      "id": "6b80ad8a-255d-4cef-b883-68a833885c0a",
      "name": "Delete a file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "87raEt2MqzTrXFoC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1x1sa5EKipKys4sFi8mHVl5QdxR4ts6EN91SzpVKack8",
          "mode": "list",
          "cachedResultName": "2 Certificate",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x1sa5EKipKys4sFi8mHVl5QdxR4ts6EN91SzpVKack8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x1sa5EKipKys4sFi8mHVl5QdxR4ts6EN91SzpVKack8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Certificate ID": "={{ $('Loop Over Items').item.json['Certificate ID'] }}",
            "Sent": "Yes"
          },
          "matchingColumns": [
            "Certificate ID"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Certificate ID",
              "displayName": "Certificate ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Sent",
              "displayName": "Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1472,
        208
      ],
      "id": "88a44a77-87a2-4b64-856a-f479437218c6",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GyjJ1EnGI1C5Jkol",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Replace text in a presentation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace text in a presentation": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a file": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b2e76f38-93b9-4e8b-8df8-8dd11366ed54",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48165ca0bfa61ac542b7e50ef86a7b6e10ba5696057b6c058e065467a33f8e66"
  },
  "id": "m9G6o0IoXad400il_PENH",
  "tags": []
}