Invoice-Generation/3 invoice Generation.json
{
  "name": "3 invoice Generation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c6ca4c9a-90ce-48e6-96b6-baa4f0313ec1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17nsvLmRk21g5zsId0xy878MuiDYAc4R2FjHNabRxVH0",
          "mode": "list",
          "cachedResultName": "Invoices",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17nsvLmRk21g5zsId0xy878MuiDYAc4R2FjHNabRxVH0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 474162964,
          "mode": "list",
          "cachedResultName": "Invoice",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17nsvLmRk21g5zsId0xy878MuiDYAc4R2FjHNabRxVH0/edit#gid=474162964"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "f4ae35b9-8597-4a94-9c73-b73d2fcb6342",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GyjJ1EnGI1C5Jkol",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "6d055e2f-4eda-46f2-af38-d7275391d1dd",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17nsvLmRk21g5zsId0xy878MuiDYAc4R2FjHNabRxVH0",
          "mode": "list",
          "cachedResultName": "Invoices",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17nsvLmRk21g5zsId0xy878MuiDYAc4R2FjHNabRxVH0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Description",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17nsvLmRk21g5zsId0xy878MuiDYAc4R2FjHNabRxVH0/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Invoice_Number",
              "lookupValue": "={{ $json.Invoice_Number }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        704,
        48
      ],
      "id": "5039e970-f444-4300-9a53-0cf6913d5757",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GyjJ1EnGI1C5Jkol",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "number",
              "replaceText": "={{ $('Loop Over Items').item.json.Invoice_Number }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "client",
              "replaceText": "={{ $('Loop Over Items').item.json.Client }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "in_date",
              "replaceText": "={{ $('Loop Over Items').item.json.Date }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "price_1",
              "replaceText": "={{String ( $('Aggregate').item.json.data[0].Amount )}} $",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "price_2",
              "replaceText": "={{ String ($('Aggregate').item.json.data[1].Amount) }} $",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "des_1",
              "replaceText": "={{ $('Aggregate').item.json.data[0].Description }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "des_2",
              "replaceText": "={{ $('Aggregate').item.json.data[1].Description }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "in_total",
              "replaceText": "={{ String ($('Loop Over Items').item.json.Total )}} $"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1424,
        80
      ],
      "id": "84cd165d-fbed-4373-abc2-da4b14108016",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "jT3PNJrobBwkoUlx",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        928,
        96
      ],
      "id": "64056c02-3c9d-4aa9-8785-ec0d8c0fcd3b",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1VwTd8sTxmM8EVDxg_HlnhaXLGItwmkBTELFOLUJQlXk",
          "mode": "list",
          "cachedResultName": "Invoice Template",
          "cachedResultUrl": "https://docs.google.com/document/d/1VwTd8sTxmM8EVDxg_HlnhaXLGItwmkBTELFOLUJQlXk/edit?usp=drivesdk"
        },
        "name": "={{ $('Loop Over Items').item.json.Client }} | {{ $('Loop Over Items').item.json.Invoice_Number }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1136,
        0
      ],
      "id": "d7f5f74d-51a7-4e91-9aa4-7b2844fd53dd",
      "name": "Copy file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "87raEt2MqzTrXFoC",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5293af3a-838b-4380-bc19-aad23443c78f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48165ca0bfa61ac542b7e50ef86a7b6e10ba5696057b6c058e065467a33f8e66"
  },
  "id": "1FxCDtNyB6sTjE1nPaUtu",
  "tags": []
}